* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(196, 214, 214);
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}
.title h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: hsl(209, 61%, 16%);
}
.underline {
  width: 50px;
  height: 5px;
  background-color: aqua;
  margin: 10px auto;
}
.review {
  background: #fff;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 50px auto 10px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
}
.review:hover {
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* overflow: hidden; */
  margin: 0 auto 20px;
  background: rgb(33, 250, 250);
}
.cover {
  object-fit: fill !important;
}
#person-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateX(-10px) translateY(8px);
  object-fit: cover;
}
#author {
  font-size: 20px;
  letter-spacing: 2px;
  color: hsl(209, 61%, 16%);
}
#job {
  text-transform: uppercase;
  margin: 10px 0 20px;
  font-size: 15px;
  color: rgb(33, 250, 250);
}
#info {
  font-size: 17px;
  color: hsl(210, 22%, 49%);
}
.prev-btn,
.next-btn {
  border: none;
  color: rgb(33, 250, 250);
  background-color: transparent;
  font-size: 35px;
  transition: all 0.5s;
}
.next-btn {
  margin-left: 20px;
}
.suprise {
  /* border: 1px solid rgb(33, 250, 250); */
  border-color: hsl(205, 78%, 60%);
  border-radius: 10px;
  padding: 10px 30px;
  color: rgb(33, 250, 250);
  display: block;
  margin: 10px auto;
  transition: all 0.5s;
  background-color: transparent;
}
.active {
  color: rgb(22, 115, 236) !important;
}
.random {
  background-color: rgb(22, 115, 236);
  color: white;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
  }
  .title h2 {
    font-size: 30px;
  }
  .review {
    margin-bottom: 0;
  }
  #info {
    font-size: 14px;
  }
  #author {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  #job {
    margin: 2px 0 4px;
  }
}
