* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(196, 214, 214);
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1200px;
  margin: 10% auto 0;
}
.title h2 {
  text-align: center;
  font-size: 40px;
}
.underline {
  width: 50px;
  height: 5px;
  background-color: aqua;
  margin: 10px auto;
}
.review {
  background: #fff;
  width: 700px;
  max-width: 60%;
  box-shadow: 0 2px 5px 5px rgb(160, 160, 160);
  margin: 30px auto;
  padding: 40px;
  text-align: center;
}
.img-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* overflow: hidden; */
  margin: 0 auto 20px;
  background: rgb(33, 250, 250);
}
#person-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateX(-10px) translateY(8px);
  object-fit: cover;
}
#author {
  font-size: 20px;
  letter-spacing: 2px;
}
#job {
  text-transform: uppercase;
  margin: 10px 0 20px;
  color: rgb(33, 250, 250);
}
#info {
  font-size: 17px;
}
.prev-btn {
  border: none;
  color: rgb(33, 250, 250);
  background-color: transparent;
  font-size: 30px;
}
.next-btn {
  border: none;
  color: rgb(33, 250, 250);
  background-color: transparent;
  font-size: 30px;
  margin-left: 20px;
}
.suprise {
  border: 1px solid rgb(33, 250, 250);
  border-radius: 10px;
  padding: 10px 30px;
  color: rgb(33, 250, 250);
  display: block;
  margin: 10px auto;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 50%;
  }
  .title h2 {
    font-size: 40px;
  }
}
